@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../../../..";

@theme {
  --font-brand: var(--font-brand);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  background-color: #09090b;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

@keyframes draw {
  0% { stroke-dasharray: 0 100; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 100 0; stroke-dashoffset: 0; }
  100% { stroke-dasharray: 0 100; stroke-dashoffset: -100; }
}
