@import "../../../../packages/ui/src/styles.css";
@plugin "@tailwindcss/typography";

@source "../../../../packages/features/src/**/*.{ts,tsx}";
@source "../../../../packages/ui/src/**/*.{ts,tsx}";

@theme {
  --font-brand: var(--font-brand);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@keyframes draw {
  0% { stroke-dasharray: 0 100; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 100 0; stroke-dashoffset: 0; }
  100% { stroke-dasharray: 0 100; stroke-dashoffset: -100; }
}